@import "./../../assets/styles/styleAppMain.scss";
@import "./../../assets/styles/MainVar/mainVars.scss";

.notfound-container {
  @include textCenterCol;
  gap: 5vh;
  width: 70vw;
  margin: 4em 1em;

  h1 {
    color: $mainColor;
  }
}

.notfound-main {
  @include textCenterRow;
  max-width: 90vw;
}
.image-notfound {
  width: 30vw;
}
.span-notfound {
  color: $blackColor;
  @include mainTextBold;
  font-size: 32px;
  font-style: italic;
  max-width: 30%;
}
.button-main {
  @include button-main;
}
