@import "assets/styles/styleAppMain.scss";
@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";
@import "assets/styles/global.scss";
@import "assets/styles/variables.scss";

.notfound-container {
  @include textCenterCol;
  gap: 5vh;
  width: 70vw;
  flex: 1 1 auto;

  h1 {
    color: $mainColor;
  }
}

.notfound-main {
  @include textCenterRow;
  max-width: 90vw;
}
.image-notfound {
  width: 20vw;
}
.span-notfound {
  color: $blackColor;
  font: $fontMainBoldXL;
  font-style: italic;
  max-width: 30%;
}
.button-main {
  @include button-main;
}

@media (max-width: 870px) {
  .span-notfound {
    font: $fontMainBoldM;
  }
}
