@import "assets/styles/global.scss";
@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";
@import "assets/styles/variables";

.button-change {
  @include button-secondary;
}

.button-delete {
  @include button-delete;
}

.button-save {
  @include button-main;
}
.button-save:hover {
  color: $blackColor;
  background-color: $secondColor;
  transition-delay: 0.2s;
}
.button-save:active {
  text-decoration: underline;
  background-color: $secondColor;
  transition-delay: 0.2s;
}
.button-change:hover {
  color: $blackColor;
  border: 1px solid $secondColor;
  transition-delay: 0.2s;
}
.button-change:active {
  text-decoration: underline;
  background-color: $secondColor;
  transition-delay: 0.2s;
}

.button-celete:hover {
  text-decoration: underline;
  transition-delay: 0.2s;
}
.button-delete:active {
  font-weight: $fontWeightBold;
  transition-delay: 0.2s;
}
:disabled {
  background-color: $secondColor;
  color: $greycolor;
}
@media (max-width: 700px) {
  .button-change,
  .button-delete,
  .button-save,
  .button-main,
  .button-secondary {
    font: $fontMainBoldXS;
    padding: 1.2vw 2.5vw;
  }
}
