@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";
@import "assets/styles/global.scss";
@import "assets/styles/variables.scss";

.trainmode-main {
  @include textCenterCol;
  gap: 3vh;
  margin: 5vh;
}
.train-arr {
  max-width: 30px;
  max-height: 15px;
}
.trainmode-container {
  @include textCenterRow;
  gap: 10%;
  width: 70vw;
}
.trainmode-counter {
  padding-bottom: 20px;
}
.react-card-flip {
  width: 20vw;
  margin: 5px 0px;
}
.learned-words-count {
  margin-top: 5px;
  font: $fontMainBoldM;
}

.text-finish {
  max-width: 40vw;
  text-align: center;
  line-height: 1.5;
}
