@import "./../../assets/styles/MainVar/mainVars.scss";

.train-arr {
  max-width: 30px;
  max-height: 15px;
}
.trainMode-container {
  @include textCenterRow;
  gap: 10%;
  width: 70vw;
  margin-top: 20px;
}
.TrainMode-counter {
  padding-bottom: 20px;
}
.react-card-flip {
  width: 20vw;
  margin: 20px 0px;
}
