@import "../../assets/styles/colors.scss";
@import "../../assets/styles/mixins.scss";
@import "../../assets/styles/global.scss";

.trainmode-main {
  @include textCenterCol;
  margin: 5% 0%;
}
.train-arr {
  max-width: 30px;
  max-height: 15px;
}
.trainmode-container {
  @include textCenterRow;
  gap: 10%;
  width: 70vw;
}
.Trainmode-counter {
  padding-bottom: 20px;
}
.react-card-flip {
  width: 20vw;
  margin: 20px 0px;
}
