@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";
// @import "assets/styles/global.scss";
@import "assets/styles/variables.scss";

.card-container {
  font: $fontMainRegularS;
  @include textGrid;
  justify-items: center;
  padding: 5px 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  color: $blackColor;
}
.card-main {
  font: $fontMainRegularS;
  color: $errorColor;
  justify-items: center;
  padding: 5px 20px;
  border-bottom: 1px solid rgb(215, 227, 248);
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
}
.card-main-container {
  font: $fontMainRegularM;

  @include textGrid;
  justify-content: center;
  padding: 15px;
  border-bottom: 1px solid rgb(215, 227, 248);
  width: 100%;
  box-sizing: border-box;
  background-color: $secondColor;
  text-align: center;
}

.added-word {
  width: 60%;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.added-word-error {
  width: 60%;
  border-radius: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: $errorColor;
}
.added-word-error {
  border: 3px solid $errorColor;
}
