@import "../../assets/styles/MainVar/mainVars.scss";
.learnCard-container {
  @include textCenterCol;
  background-color: $secondColor;
  border: 1px solid $mainColor;
  box-sizing: border-box;
  gap: 10px;
  padding: 10%;
  max-width: 50%;
  border-radius: 10px;
  margin: 50px 0px;
}

.translation-word {
  @include mainTextBold;
  color: $mainColor;
}
