@import "../MainVar/mainVars.scss";
* {
  margin: 0;
}
.App {
  @include textCenterCol;
  max-width: 100%;
}

.cardsList-container {
  @include textCenterCol;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
}
