@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";
@import "assets/styles/global.scss";
@import "assets/styles/variables.scss";

.footer-container {
  @include textCenterRow;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 2vw 1.5vw;
  border-bottom: 1px solid;
  box-sizing: border-box;
  border-color: $mainColor;
  background-color: $secondColor;
  margin-top: auto;

  .logo {
    justify-content: flex-start;
  }
}

.logo {
  @include textCenterRow;
  gap: 3px;
  // max-width: 20%;
}

.text-logo {
  font: $fontMainBlackL;
  color: $mainColor;
}

a {
  text-decoration: none;
}
.footer-hrefs:hover {
  color: $mainColor;
}
.footer-hrefs:active {
  text-decoration: underline;
}

.footer-links {
  @include textCenterRow;
  padding: 10px 0px;
  gap: 2vw;
  a {
    font: $fontMainBlackM;
    color: $blackColor;
    opacity: 70%;
  }
}
.active {
  text-decoration: underline;
}

@media (max-width: 870px) {
  .footer-links {
    a {
      font: $fontMainBlackS;
      gap: 2vw;
    }

    @include textCenterRow;
    padding: 1% 0%;
    gap: 2vw;
  }

  .text-logo {
    font: $fontMainBlackM;
  }
}
@media (max-width: 500px) {
  .footer-links {
    a {
      font: $fontMainBlackXS;
    }
  }
}
