@import "../../assets/styles/MainVar/mainVars.scss";

.footer-container {
  @include textCenterRow;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 80px 50px 20px 20px;
  border-bottom: 1px solid;
  box-sizing: border-box;
  border-color: $mainColor;
  background-color: $secondColor;
}

.logo {
  @include textCenterRow;
  gap: 3px;
  max-width: 20%;
}
.image-logo {
  width: 30%;
  height: 30%;
}

.text-logo {
  @include mainTextBlack;
  font-size: 24px;
  color: $mainColor;
}

a {
  text-decoration: none;
}
.footer-hrefs:hover {
  color: $mainColor;
}
.footer-hrefs:active {
  text-decoration: underline;
}

.footer-links {
  @include textCenterRow;
  padding: 10px 50px;
  gap: 50px;
  a {
    @include mainTextBlack;
    font-size: 18px;
    text-decoration: none;
    color: $blackColor;
    opacity: 70%;
  }
}
