@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";
@import "assets/styles/global.scss";
@import "assets/styles/variables.scss";

.footer-container {
  @include textCenterRow;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding: 4% 2%;
  border-bottom: 1px solid;
  box-sizing: border-box;
  border-color: $mainColor;
  background-color: $secondColor;

  margin-top: auto;
}

.logo {
  @include textCenterRow;
  gap: 3px;
  max-width: 20%;
}
.image-logo {
  width: 30%;
  height: 30%;
}

.text-logo {
  font: $fontMainBlackL;
  color: $mainColor;
}

a {
  text-decoration: none;
}
.footer-hrefs:hover {
  color: $mainColor;
}
.footer-hrefs:active {
  text-decoration: underline;
}

.footer-links {
  @include textCenterRow;
  padding: 10px 50px;
  gap: 50px;
  a {
    font: $fontMainBlackM;
    text-decoration: none;
    color: $blackColor;
    opacity: 70%;
  }
}
