@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";
@import "assets/styles/global.scss";
@import "assets/styles/variables.scss";

.auth-check {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: flex-end;
}
.button-logOut {
  border-radius: 5px;
  font: $fontMainRegularS;
  padding: 1vw 2vw;
  border-radius: 10px;
  border: none;
  background-color: $secondColor;
  color: $greycolor;
  cursor: pointer;
}
.authdetails-text {
  font: $fontMainRegularS;
  text-align: right;
}

@media (max-width: 870px) {
  .authdetails-text {
    font: $fontMainRegularXS;
    text-align: right;
  }
  .button-logOut {
    font: $fontMainRegularXS;
  }
}
