@mixin textCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@mixin textCenterCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin textGrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}
@mixin button-main {
  font: $fontMainBoldXS;
  padding: 1vw 2vw;
  border-radius: 10px;
  border: none;
  background-color: $mainColor;
  color: $secondColor;
  cursor: pointer;
}

@mixin button-secondary {
  font: $fontMainBoldXS;
  padding: 1vw 2vw;
  border-radius: 10px;
  border: 1px solid $mainColor;
  background-color: $secondColor;
  color: $mainColor;
  cursor: pointer;
}
@mixin button-delete {
  font: $fontMainBoldXS;
  padding: 1vw 2vw;
  border-radius: 10px;
  border: 1px solid $secondColor;
  background-color: $secondColor;
  color: $blackColor;
  cursor: pointer;
}
