@mixin mainTextRegular {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
}
@mixin mainTextBold {
  font-family: Lato;
  font-weight: 700;
}
@mixin mainTextBlack {
  font-family: Lato;
  font-weight: 900;
}

@mixin textCenterRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
@mixin textCenterCol {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin textGrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}
@mixin button-main {
  @include mainTextBold;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  border-color: $mainColor;
  background-color: $mainColor;
  color: $secondColor;
  cursor: pointer;
}

@mixin button-secondary {
  @include mainTextBold;
  font-size: 14px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid $mainColor;
  background-color: $secondColor;
  color: $mainColor;
  cursor: pointer;
}
@mixin button-delete {
  @include mainTextBold;
  font-size: 12px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid $secondColor;
  background-color: $secondColor;
  color: $blackColor;
}
