@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Lato:wght@400;700;900&family=Manrope:wght@400;700&display=swap");

@import "./colors.scss";
@import "./mixins.scss";
@import "./variables.scss";
a:hover {
  color: $mainColor;
}
a:active {
  text-decoration: underline;
}
.button-main:hover {
  color: $blackColor;
  background-color: $secondColor;
}
.button-main:disabled {
  color: $secondColor;
  background-color: $greycolor;
}
.button-main:active {
  text-decoration: underline;
  background-color: $secondColor;
}
.button-secondary:hover {
  color: $blackColor;
  border: 1px solid $secondColor;
}
.button-secondary:active {
  text-decoration: underline;
  background-color: $secondColor;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px;
}
