@import "./global.scss";
@import "./colors.scss";
@import "./mixins.scss";
* {
  margin: 0;
  font-family: Lato;
}
.App {
  @include textCenterCol;
  max-width: 100%;
  min-height: 100vh;
}

.cardsList-container {
  @include textCenterCol;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
}
.buttons-container {
  @include textCenterRow;
  gap: 10px;
}
