@import "./global.scss";
@import "./colors.scss";
@import "./mixins.scss";
@import "./variables.scss";
* {
  margin: 0;
  font-family: Lato;
}
.App {
  @include textCenterCol;
  max-width: 100%;
  min-height: 100vh;
}

.buttons-container {
  @include textCenterRow;
  gap: 10px;
}
