@import "assets/styles/colors.scss";
@import "assets/styles/mixins.scss";
@import "assets/styles/global.scss";
@import "assets/styles/variables.scss";

.main-authorization {
  @include textCenterCol;
  gap: 10px;
  margin: 2%;
  h4 {
    text-align: center;
  }
  h1 {
    margin-bottom: 10px;
  }
}
.registration {
  @include textCenterRow;
  gap: 10px;
  margin: 1%;
}
.log {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
  h3 {
    grid-column: 1/3;
  }
}
.animation-register {
  max-width: 40vw;
}
